/* UTILITIES */
* {
    color: rgb(0, 5, 82);
}


.box {
    text-align: center;
    font-size: 14px;
    border: 1px solid #000;
}

.row [class*="col-"] {
    padding: 0;
}

.flex-container {
    display: flex;
}


.mt-30 {
    margin-top: 30px;
}

/* BACKGROUND COLORS */

.bc-red { 
    background: #fe0000
}

.bc-orange { 
    background: #ff9000;
}

.bc-yellow { 
    background: #f8ff01;
}

.bc-lightyellow { 
    background: #fff8b4;
}

.bc-green { 
    background: #1bbf20;
}

.bc-lightblue { 
    background: #549eff;
}

.bc-purple { 
    background: #6c0aff;
}

.bc-pink { 
    background: #ed00fe;
}

.bc-lightpink {
    background: #ffb3f3;
}

.bc-peach {
    background: #fe8a8a;
}

.bc-white {
    background: #fff;
}

.bc-grey {
    background: #828282;
}

.bc-black {
    background: #000;
}


.bc-night {
    background: rgb(0, 5, 82);
}

/* ANIMATION */

.bauncing {
    animation: bauncing 1s 0s infinite ;
}

@keyframes bauncing {
    0% {
        height: 1vh;
    }

    50% {
        height: 5vh;
    }

    100% {
        height: 1vh;
    }
}

.star-1 {
    color: #fff947;
    
    animation: star 2.5s infinite;
}

@keyframes star {
    0% {
        color: #fff947;
    }

    50% {
        color: rgb(0, 5, 82);
        transform: scale(1.6);
    }

    100% {
        color: #fff947;
    }
}

.star-2 {
    color: #fff947;
    
    animation: star 2s infinite;
}

@keyframes star {
    0% {
        color: rgb(0, 5, 82);
    }

    50% {
        color: #fff947;
        transform: scale(1.3);
    }

    100% {
        color: rgb(0, 5, 82);
    }
}